/*root_html_elements*/
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 65%;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    color: #333333;
    line-height: 2.0;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(to top left, rebeccapurple, peachpuff);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.75rem;
}

p {
    font-size: 2rem;
}


/*modal_operations */
.hidden {
    display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    background: peachpuff;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem #333333;
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    backdrop-filter: blur(5px);
    z-index: 5;
}










.show-modal {
    font-size: 2rem;
    font-weight: 700;
    padding: 2.0rem 4rem;
    margin: 5rem 2rem;
    border: none;
    background-color: peachpuff;
    color: #333333;
    border-radius: 1.75rem;
    cursor: pointer;
}

.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333333;
    cursor: pointer;
    border: none;
    background: none;
}



